/*------------------------------------*\
  #MODULES
\*------------------------------------*/
/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
  #FONTS
\*------------------------------------*/
/* line 40, resources/assets/front/css/_variables.scss */
.ts-title,
.index__title,
.detail__title,
.ts-subtitle,
.detail__subtitle,
.detail__time,
.detail__intro.body p,
.ts-subsubtitle,
.ts-body,
.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6,
.body,
.body p,
.body dl,
.body ol li,
.body ol li:before,
.body ul li,
.body ul li:before,
.logo__link,
.nav__link,
.logo__link.grey-hover,
.nav__link.grey-hover,
.block__title,
.block__subtitle,
.block__excerpt,
.block__time,
.button,
.pagination__link,
.form label,
.form .input-group input,
.ts-small,
.ts-label,
.nav--lang .nav__link,
.publication-date,
.taxonomy__link,
.body em,
.body i,
.body b,
.body strong,
.body em>b,
.body b>em,
.body i>b,
.body b>i,
.body em>strong,
.body strong>em,
.body i>strong,
.body strong>i,
.body blockquote>p,
.body blockquote>blockquote p,
.body dl dt,
.body table th,
body {
    font-family: le-patin-helvete, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* line 58, resources/assets/front/css/_variables.scss */
.nav--subnav .nav__link.active {
    font-family: le-patin-helvete, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 700;
}

/*------------------------------------*\
    #TYPESIZE/SCALE
\*------------------------------------*/
/* line 103, resources/assets/front/css/_variables.scss */
.ts-small,
.ts-label,
.nav--lang .nav__link,
.publication-date,
.taxonomy__link,
.body small,
.body code,
.body samp,
.body pre,
figcaption {
    font-size: 0.778rem;
    line-height: 1.4;
}

/* line 108, resources/assets/front/css/_variables.scss */
.ts-subsubtitle,
.ts-body,
.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6,
.body,
.body p,
.body dl,
.body ol li,
.body ol li:before,
.body ul li,
.body ul li:before,
.logo__link,
.nav__link,
.logo__link.grey-hover,
.nav__link.grey-hover,
.block__title,
.block__subtitle,
.block__excerpt,
.block__time,
.button,
.pagination__link,
.form label,
.form .input-group input {
    font-size: 1rem;
    line-height: 1.4;
}

/* line 113, resources/assets/front/css/_variables.scss */
.ts-subtitle,
.detail__subtitle,
.detail__time,
.detail__intro.body p {
    font-size: 1.222rem;
    line-height: 1.4;
}

/* line 118, resources/assets/front/css/_variables.scss */
.ts-title,
.index__title,
.detail__title {
    font-size: 1.556rem;
    line-height: 1.2;
}

/*------------------------------------*\
  #SPACING
\*------------------------------------*/
/*------------------------------------*\
  #BORDERS WIDTH
\*------------------------------------*/
/*------------------------------------*\
  #MISC
\*------------------------------------*/
/*------------------------------------*\
  reset
\*------------------------------------*/
/* line 5, resources/assets/front/css/utils/_reset.scss */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* line 7, resources/assets/front/css/utils/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* line 8, resources/assets/front/css/utils/_reset.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 9, resources/assets/front/css/utils/_reset.scss */
caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 10, resources/assets/front/css/utils/_reset.scss */
q,
blockquote {
    quotes: none;
}

/* line 11, resources/assets/front/css/utils/_reset.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

/* line 12, resources/assets/front/css/utils/_reset.scss */
a img {
    border: none;
}

/* line 13, resources/assets/front/css/utils/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

/* line 15, resources/assets/front/css/utils/_reset.scss */
button,
input {
    line-height: normal;
}

/* line 16, resources/assets/front/css/utils/_reset.scss */
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

/* line 17, resources/assets/front/css/utils/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    *overflow: visible;
}

/* line 18, resources/assets/front/css/utils/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* line 19, resources/assets/front/css/utils/_reset.scss */
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

@font-face {
    font-family: "Quebrado";
    src: url("../fonts/Quebrado-Regular.otf")
}

@font-face {
    font-family: "StanleySmith-Broman";
    src: url("../fonts/StanleySmith-Broman.ttf")
}

h1,
h2,
h3 {
    font-family: "Quebrado";
}

/*------------------------------------*\
  mixins
\*------------------------------------*/
/*------------------------------------*\
  text-styles
\*------------------------------------*/
/* line 26, resources/assets/front/css/utils/_typography.scss */
.ts-label,
.nav--lang .nav__link,
.publication-date,
.taxonomy__link {
    text-transform: uppercase;
    letter-spacing: .1em;
}

/* line 32, resources/assets/front/css/utils/_typography.scss */
.ts-link,
.logo__link,
.nav__link,
.block__link {
    color: #000000;
    text-decoration: none;
}

/* line 35, resources/assets/front/css/utils/_typography.scss */
.ts-link:hover,
.logo__link:hover,
.nav__link:hover,
.block__link:hover {
    color: #000000;
    text-decoration: none;
}

/* line 40, resources/assets/front/css/utils/_typography.scss */
.ts-link-nav,
.logo__link.grey-hover,
.nav__link.grey-hover {
    color: white;
    text-decoration: none;
}

/* line 43, resources/assets/front/css/utils/_typography.scss */
.ts-link-nav:hover,
.logo__link.grey-hover:hover,
.nav__link.grey-hover:hover {
    color: #bdbdbd;
    text-decoration: none;
}

/* line 48, resources/assets/front/css/utils/_typography.scss */
.ts-body-link,
.body a {
    color: #000000;
    text-decoration: underline;
}

/* line 51, resources/assets/front/css/utils/_typography.scss */
.ts-body-link:hover,
.body a:hover {
    color: #000000;
    text-decoration: underline;
}

/*------------------------------------*\
  title
\*------------------------------------*/
/* line 75, resources/assets/front/css/utils/_typography.scss */
.body h2,
.body h3,
.body h4,
.body h5 {
    margin: 0 0 1rem;
    font-weight: 400;
    text-shadow: 0.05em 0.05em 0.2em rgba(142, 142, 142, 0.8);
}

/*------------------------------------*\
  paragraph
\*------------------------------------*/
/* line 90, resources/assets/front/css/utils/_typography.scss */
.body p {
    margin-bottom: .8em;
}

/*------------------------------------*\
  link
\*------------------------------------*/
/*------------------------------------*\
  bold italic
\*------------------------------------*/
/* line 113, resources/assets/front/css/utils/_typography.scss */
.body em,
.body i {
    font-style: normal;
}

/* line 118, resources/assets/front/css/utils/_typography.scss */
.body b,
.body strong {
    font-weight: 400;
    text-shadow: 0.05em 0.05em 0.2em rgba(142, 142, 142, 0.8);
}

/* line 124, resources/assets/front/css/utils/_typography.scss */
.body em>b,
.body b>em,
.body i>b,
.body b>i,
.body em>strong,
.body strong>em,
.body i>strong,
.body strong>i {
    font-style: normal;
}

/*------------------------------------*\
  blockquote
\*------------------------------------*/
/* line 143, resources/assets/front/css/utils/_typography.scss */
.body blockquote {
    padding-left: 1em;
    border-left: 1px solid #000000;
    margin-top: 1em;
}

/* line 147, resources/assets/front/css/utils/_typography.scss */
.body blockquote>p {
    font-style: normal;
}

/* line 151, resources/assets/front/css/utils/_typography.scss */
.body blockquote>blockquote p {
    font-style: normal;
}

/*------------------------------------*\
  definitions
\*------------------------------------*/
/* line 165, resources/assets/front/css/utils/_typography.scss */
.body dl dt {
    padding-bottom: .3em;
}

/* line 168, resources/assets/front/css/utils/_typography.scss */
.body dl dt:first-of-type {
    padding-top: .6em;
    border-top: 1px solid #000000;
}

/* line 173, resources/assets/front/css/utils/_typography.scss */
.body dl dd {
    padding-bottom: .6em;
    margin-bottom: .6em;
    border-bottom: 1px #000000 solid;
}

/*------------------------------------*\
  list
\*------------------------------------*/
/* line 187, resources/assets/front/css/utils/_typography.scss */
.body ol {
    counter-reset: li;
}

/* line 189, resources/assets/front/css/utils/_typography.scss */
.body ol li {
    position: relative;
    padding-left: 1.2em;
    margin-bottom: .5em;
}

/* line 194, resources/assets/front/css/utils/_typography.scss */
.body ol li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 0;
}

/* line 202, resources/assets/front/css/utils/_typography.scss */
.body ol ol>li:first-of-type {
    margin-top: .5em;
}

/* line 209, resources/assets/front/css/utils/_typography.scss */
.body ul li {
    position: relative;
    padding-left: 0;
    margin-bottom: .5em;
}

/* line 214, resources/assets/front/css/utils/_typography.scss */
.body ul li:before {
    content: "";
    position: absolute;
    left: 0;
    font-size: 1em;
}

/* line 222, resources/assets/front/css/utils/_typography.scss */
.body ul ol>li:first-of-type {
    margin-top: .5em;
}

/*------------------------------------*\
  table
\*------------------------------------*/
/* line 234, resources/assets/front/css/utils/_typography.scss */
.body table {
    width: 100%;
    margin-top: 1.111rem;
    margin-bottom: 1.111rem;
}

/* line 238, resources/assets/front/css/utils/_typography.scss */
.body table thead {
    border-bottom: 1px solid #000000;
}

/* line 241, resources/assets/front/css/utils/_typography.scss */
.body table th {
    text-align: left;
}

/* line 246, resources/assets/front/css/utils/_typography.scss */
.body table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* line 250, resources/assets/front/css/utils/_typography.scss */
.body table tfoot {
    border-top: 3px solid #000000;
}

/* line 253, resources/assets/front/css/utils/_typography.scss */
.body table th,
.body table td {
    padding: .5em 0;
}

@media (max-width: 767px) {

    /* line 258, resources/assets/front/css/utils/_typography.scss */
    .body table th,
    .body table td {
        display: block;
    }
}

/*------------------------------------*\
  spacing
\*------------------------------------*/
/* line 272, resources/assets/front/css/utils/_typography.scss */
.body ul,
.body ol,
.body .embed-container {
    margin-bottom: 1em;
}

/*------------------------------------*\
  misc
\*------------------------------------*/
/* line 286, resources/assets/front/css/utils/_typography.scss */
.body ol,
.body ul {
    list-style: none;
}

/* line 290, resources/assets/front/css/utils/_typography.scss */
.body sub,
.body sup {
    font-size: .75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

/* line 297, resources/assets/front/css/utils/_typography.scss */
.body sup {
    top: -0.5em;
}

/* line 300, resources/assets/front/css/utils/_typography.scss */
.body sub {
    bottom: -0.25em;
}

/* line 306, resources/assets/front/css/utils/_typography.scss */
.body abbr {
    border-bottom: 1px dotted #000000;
    cursor: help;
}

/* line 312, resources/assets/front/css/utils/_typography.scss */
.body q:before,
.body cite:before {
    content: '"';
}

/* line 315, resources/assets/front/css/utils/_typography.scss */
.body q:after,
.body cite:after {
    content: '"';
}

/* line 319, resources/assets/front/css/utils/_typography.scss */
.body mark {
    background-color: rgba(0, 0, 0, 0.6);
    color: #000000;
}

/* line 323, resources/assets/front/css/utils/_typography.scss */
.body code,
.body samp,
.body pre {
    font-family: monospace;
}

/* line 329, resources/assets/front/css/utils/_typography.scss */
.body hr {
    background: #000000;
    height: 1px;
    border: none;
    margin-top: 2.222rem;
    margin-bottom: 1.667rem;
}

/*------------------------------------*\
  medias
\*------------------------------------*/
/* line 6, resources/assets/front/css/utils/_medias.scss */
img,
video,
object {
    max-width: 100%;
    height: auto;
}

/* line 13, resources/assets/front/css/utils/_medias.scss */
img {
    display: block;
}

/* line 17, resources/assets/front/css/utils/_medias.scss */
img.image-lazy {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

/* line 23, resources/assets/front/css/utils/_medias.scss */
img.image-lazy:not(.lazyloaded) {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* line 28, resources/assets/front/css/utils/_medias.scss */
img.image-lazy.lazyloaded {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

/* line 34, resources/assets/front/css/utils/_medias.scss */
figcaption {
    margin-top: 0.556rem;
}

/* line 39, resources/assets/front/css/utils/_medias.scss */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

/* line 47, resources/assets/front/css/utils/_medias.scss */
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*------------------------------------*\
  misc
\*------------------------------------*/
/* line 6, resources/assets/front/css/utils/_misc.scss */
.hidden {
    display: none !important;
}

@media (max-width: 767px) {

    /* line 10, resources/assets/front/css/utils/_misc.scss */
    .hidden-small {
        display: none !important;
    }
}

@media (min-width: 768px) {

    /* line 15, resources/assets/front/css/utils/_misc.scss */
    .hidden-large {
        display: none !important;
    }
}

/* line 21, resources/assets/front/css/utils/_misc.scss */
.nav__list {
    list-style: none;
}

/* line 29, resources/assets/front/css/utils/_mixins.scss */
.clear::after {
    display: block;
    content: "";
    clear: both;
}

/*------------------------------------*\
  global
\*------------------------------------*/
/* line 6, resources/assets/front/css/utils/_global.scss */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* line 11, resources/assets/front/css/utils/_global.scss */
.wrapper .footer {
    margin-top: auto;
}

/* line 16, resources/assets/front/css/utils/_global.scss */
.header__inner,
.nav--subnav .nav__list,
.footer,
.detail__inner {
    width: 100%;
    padding-left: 1.111rem;
    padding-right: 1.111rem;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

/* line 32, resources/assets/front/css/utils/_global.scss */
.index__inner,
.categories,
.year {
    width: 60vw;
    padding-left: 1.111rem;
    padding-right: 1.111rem;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------*\
  #EXTERNAL
\*------------------------------------*/
/*------------------------------------*\
  #PARTIALS
\*------------------------------------*/
/*------------------------------------*\
  header
\*------------------------------------*/
/* line 5, resources/assets/front/css/components/_header.scss */
.header {
    height: 62px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #e8e8e8;
    padding: 1.111rem 0 !important;
    border-top: 1px solid #000000;
}

/* line 17, resources/assets/front/css/components/_header.scss */
.header__inner {
    position: relative;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* line 18, resources/assets/front/css/components/_header.scss */
.header__inner .project-title {
    margin-right: -70px;
}

/* line 22, resources/assets/front/css/components/_header.scss */
.header__inner #secondary-nav {
    min-width: 115px;
    text-align: right;
}

/* line 34, resources/assets/front/css/components/_header.scss */
a.show {
    display: block;
}

/* line 37, resources/assets/front/css/components/_header.scss */
.show {
    display: block;
}

/* line 41, resources/assets/front/css/components/_header.scss */
.show-flex {
    display: flex !important;
}

/* line 45, resources/assets/front/css/components/_header.scss */
.header_details {
    top: 0vh;
    border-top: none;
    background: none;
}

/* line 58, resources/assets/front/css/components/_header.scss */
.block-open {
    z-index: 1000;
    justify-content: space-between;
    display: none;
    color: #FFFFFF;
    padding: 1.111rem;
    background: #000000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@media (min-width: 768px) {

    /* line 58, resources/assets/front/css/components/_header.scss */
    .block-open {
        width: 40vw;
    }
}

/* line 78, resources/assets/front/css/components/_header.scss */
.block-open__list {
    width: 100%;
    margin-right: 1.111rem;
}

/* line 82, resources/assets/front/css/components/_header.scss */
.block-open__list a {
    color: white;
}

/* line 87, resources/assets/front/css/components/_header.scss */
.block-open__list li {
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    border-top: 2px solid #FFFFFF;
    padding-left: 1.111rem;
    padding-top: 0.278rem;
    padding-bottom: 0.278rem;
}

/* line 97, resources/assets/front/css/components/_header.scss */
.block-open__list .is-active {
    color: #bdbdbd;
}

/* line 102, resources/assets/front/css/components/_header.scss */
.block-open__list .block-open__sublist li {
    border-top: 0px solid #FFFFFF;
}

/* line 110, resources/assets/front/css/components/_header.scss */
.block-open_details {
    overflow: scroll;
    background: #8c8c8c;
    width: 60vw;
}

@media (max-width: 768px) {

    /* line 110, resources/assets/front/css/components/_header.scss */
    .block-open_details {
        width: 100%;
    }
}

/* line 120, resources/assets/front/css/components/_header.scss */
.block-open_details .block-open__list li {
    min-height: 47px;
    line-height: 25px;
    display: inline-flex;
    border-top: 1px solid #FFFFFF;
    width: 50vw;
    padding-bottom: 0.556rem;
    padding-top: 0.556rem;
}

@media (max-width: 768px) {

    /* line 120, resources/assets/front/css/components/_header.scss */
    .block-open_details .block-open__list li {
        display: block;
        width: 100%;
    }
}

/* line 137, resources/assets/front/css/components/_header.scss */
.block-open_details .block_text {
    border-top: 1px solid #FFFFFF;
}

/* line 146, resources/assets/front/css/components/_header.scss */
.icon {
    max-height: 25px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* line 155, resources/assets/front/css/components/_header.scss */
.icon__menu {
    width: 35px;
    cursor: pointer;
    height: 2px;
    background: #000;
}

/* line 164, resources/assets/front/css/components/_header.scss */
.icon__menu span:before,
.icon__menu span:after {
    position: relative;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    content: "";
}

/* line 175, resources/assets/front/css/components/_header.scss */
.icon__menu span:after {
    bottom: -8px;
}

/* line 179, resources/assets/front/css/components/_header.scss */
.icon__menu span:before {
    top: -10px;
}

/* line 185, resources/assets/front/css/components/_header.scss */
.icon__cross {
    width: 35px;
    height: 35px;
    color: #FFFFFF;
}

/* line 193, resources/assets/front/css/components/_header.scss */
.icon__cross span {
    display: block;
    position: relative;
}

/* line 196, resources/assets/front/css/components/_header.scss */
.icon__cross span:before,
.icon__cross span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    content: "";
    top: 15px;
}

/* line 210, resources/assets/front/css/components/_header.scss */
.icon__cross span:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

/* line 216, resources/assets/front/css/components/_header.scss */
.icon__cross span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* line 225, resources/assets/front/css/components/_header.scss */
.icon__cross_header span:before,
.icon__cross_header span:after {
    background-color: #000000;
    color: #000000;
}

/* line 233, resources/assets/front/css/components/_header.scss */
.icon__info {
    text-transform: uppercase;
    border-radius: 50%;
    border: 1px solid black;
    padding: 30%;
    height: 40px;
    width: 40px;
    text-align: center;
}

/*------------------------------------*\
  nav
\*------------------------------------*/
@media (min-width: 768px) {

    /* line 7, resources/assets/front/css/components/_nav.scss */
    .nav__item {
        display: inline-block;
    }

    /* line 11, resources/assets/front/css/components/_nav.scss */
    .nav:not(.nav--lang) .nav__item:not(:last-child) {
        margin-right: 1.111rem;
    }
}

/* line 17, resources/assets/front/css/components/_nav.scss */
.logo__link,
.nav__link {
    display: block;
}

/* line 23, resources/assets/front/css/components/_nav.scss */
.logo__link.grey-hover,
.nav__link.grey-hover {
    display: block;
}

@media (max-width: 767px) {

    /* line 32, resources/assets/front/css/components/_nav.scss */
    .nav__link {
        padding: 0.278rem 0;
    }
}

/* line 43, resources/assets/front/css/components/_nav.scss */
.nav--lang .nav__link:not(.is-active) {
    color: #e8e8e8;
}

/* line 46, resources/assets/front/css/components/_nav.scss */
.nav--lang .nav__link:not(.is-active):hover {
    color: #000000;
}

/* line 53, resources/assets/front/css/components/_nav.scss */
.nav--subnav {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: #e8e8e8;
    border-bottom: 1px solid #000000;
}

/* line 60, resources/assets/front/css/components/_nav.scss */
.nav--subnav .nav__list {
    padding-top: 1.111rem;
    padding-bottom: 1.111rem;
}

/* line 71, resources/assets/front/css/components/_nav.scss */
.nav--subnav .nav__list {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
}

/* line 77, resources/assets/front/css/components/_nav.scss */
.nav--subnav .nav__list .nav__item {
    padding-right: 1.111rem;
}

/* line 81, resources/assets/front/css/components/_nav.scss */
.nav--subnav .nav__list .nav__item {
    flex-shrink: 0;
}

/*------------------------------------*\
  block
\*------------------------------------*/
/* line 10, resources/assets/front/css/components/_block.scss */
.block__media+.block__text {
    margin-top: 0.556rem;
}

/* line 14, resources/assets/front/css/components/_block.scss */
.block__media {
    height: calc(100vh - 62px);
    margin-bottom: 6.667rem;
    display: grid;
    place-items: center center;
}

@media (max-width: 767px) {

    /* line 23, resources/assets/front/css/components/_block.scss */
    .block__media {
        margin-bottom: 1.667rem;
        height: calc(100vh - 62px);
        display: grid;
        place-items: center center;
    }
}

/* line 34, resources/assets/front/css/components/_block.scss */
.wrapper_detail_project .block__media {
    cursor: e-resize;
    display: none;
    margin-bottom: 0;
}

/* line 40, resources/assets/front/css/components/_block.scss */
.wrapper_detail_project .block__media.show {
    display: grid;
}

@media (max-width: 767px) {

    /* line 46, resources/assets/front/css/components/_block.scss */
    .wrapper_detail_project .block__media {
        margin-bottom: 0;
    }

    /* line 50, resources/assets/front/css/components/_block.scss */
    .wrapper_detail_project .block__media.show {
        display: block;
    }

    /* line 54, resources/assets/front/css/components/_block.scss */
    .wrapper_detail_project .block__media img {
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

/* line 64, resources/assets/front/css/components/_block.scss */
.block__media_small {
    height: inherit;
    margin-bottom: 0;
    padding: 0.556rem 0;
}

/* line 68, resources/assets/front/css/components/_block.scss */
.block__media_small img {
    height: 215px;
}

@media (max-width: 767px) {

    /* line 76, resources/assets/front/css/components/_block.scss */
    .block__media_small {
        width: 40%;
        padding: 0.556rem 0;
    }
}

/* line 83, resources/assets/front/css/components/_block.scss */
.block__title {
    width: 100%;
    border-top: 1px solid;
    font-weight: inherit;
}

/* line 97, resources/assets/front/css/components/_block.scss */
.block__title+.block__excerpt,
.block__subtitle+.block__excerpt,
.publication-date+.block__excerpt {
    margin-top: 0.556rem;
}

/* line 104, resources/assets/front/css/components/_block.scss */
.block__time {
    margin-bottom: 0.556rem;
}

/* line 109, resources/assets/front/css/components/_block.scss */
.block__info {
    margin-top: 0.556rem;
}

/* line 113, resources/assets/front/css/components/_block.scss */
.publication-date {
    display: block;
}

/* line 117, resources/assets/front/css/components/_block.scss */
.block__title+.publication-date {
    margin-top: 0.278rem;
}

/* line 134, resources/assets/front/css/components/_block.scss */
.block_list .block__inner {
    width: 100%;
}

/* line 138, resources/assets/front/css/components/_block.scss */
.block_list .block__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 1.708;
    width: 85%;
    float: right;
}

@media (max-width: 768px) {

    /* line 138, resources/assets/front/css/components/_block.scss */
    .block_list .block__content {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 768px) {

    /* line 133, resources/assets/front/css/components/_block.scss */
    .block_list {
        width: 100%;
        margin: auto;
    }
}

/* line 159, resources/assets/front/css/components/_block.scss */
.block_list .block__content_flex-column {
    flex-direction: column;
}

/* line 162, resources/assets/front/css/components/_block.scss */
.block_list .block__content_flex-column .block__list {
    justify-content: flex-start;
}

/* line 165, resources/assets/front/css/components/_block.scss */
.block_list .block__content_flex-column .block__list ul {
    display: flex;
    justify-content: space-around;
}

/* line 166, resources/assets/front/css/components/_block.scss */
.block_list .block__content_flex-column .block__list ul li {
    padding-right: 20px;
}

/* line 177, resources/assets/front/css/components/_block.scss */
.block_list .block__content>section:nth-child(-n + 1) {
    min-width: 100%;
}

/* line 181, resources/assets/front/css/components/_block.scss */
.block_list p {
    margin-bottom: 0px;
}

/* line 188, resources/assets/front/css/components/_block.scss */
.block_list__box {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
}

/* line 193, resources/assets/front/css/components/_block.scss */
.block_list__box div {
    width: calc(60%);
}

/* line 196, resources/assets/front/css/components/_block.scss */
.block_list__box div:nth-child(2n) {
    width: calc(20%);
}

/* line 200, resources/assets/front/css/components/_block.scss */
.block_list__box div div {
    padding-left: 20px;
}

@media (max-width: 768px) {

    /* line 193, resources/assets/front/css/components/_block.scss */
    .block_list__box div {
        width: 100%;
    }
}

@media (max-width: 768px) {

    /* line 188, resources/assets/front/css/components/_block.scss */
    .block_list__box {
        flex-direction: column;
    }
}

/* line 214, resources/assets/front/css/components/_block.scss */
.block_list__link {
    text-decoration: none !important;
}

/*------------------------------------*\
  button
\*------------------------------------*/
/* line 5, resources/assets/front/css/components/_button.scss */
.button,
.pagination__link {
    background: none;
    border: none;
    padding: 0;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    padding-bottom: .3em;
    border-bottom: 1px solid #000000;
}

/*------------------------------------*\
  taxonomy
\*------------------------------------*/
/* line 5, resources/assets/front/css/components/_taxonomy.scss */
.taxonomy {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

/* line 10, resources/assets/front/css/components/_taxonomy.scss */
.taxonomy__list {
    list-style: none;
}

/* line 13, resources/assets/front/css/components/_taxonomy.scss */
.taxonomy__item {
    margin-right: 0.278rem;
    margin-bottom: 0.556rem;
    display: inline-block;
}

/* line 18, resources/assets/front/css/components/_taxonomy.scss */
.taxonomy__link {
    display: block;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    padding: .2em .5em;
    border-radius: 3px;
    border: 1px solid transparent;
}

/* line 27, resources/assets/front/css/components/_taxonomy.scss */
.taxonomy__link:hover {
    background-color: #e8e8e8 !important;
    color: #000000;
    border-color: #e8e8e8;
}

/*------------------------------------*\
  gallery
\*------------------------------------*/
/* line 6, resources/assets/front/css/components/_gallery.scss */
.gallery--basic img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90vh;
    height: auto;
}

/* line 13, resources/assets/front/css/components/_gallery.scss */
.gallery--basic .gallery__item+.gallery__item {
    margin-top: 1.111rem;
}

/*------------------------------------*\
  footer
\*------------------------------------*/
/* line 8, resources/assets/front/css/components/_footer.scss */
.footer__inner {
    width: calc(100% + 15px);
    margin-left: -15px;
    padding-top: 3.333rem;
    padding-bottom: 1.667rem;
}

@media (min-width: 768px) {

    /* line 8, resources/assets/front/css/components/_footer.scss */
    .footer__inner {
        display: flex;
    }
}

/* line 17, resources/assets/front/css/components/_footer.scss */
.footer__section {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1.667rem;
    width: 100%;
}

@media (min-width: 768px) {

    /* line 17, resources/assets/front/css/components/_footer.scss */
    .footer__section {
        width: calc(100%/3);
    }
}

/*------------------------------------*\
  form
\*------------------------------------*/
/* line 7, resources/assets/front/css/components/_form.scss */
.form label {
    display: block;
    margin-bottom: 0.556rem;
}

/* line 12, resources/assets/front/css/components/_form.scss */
.form .input-group {
    position: relative;
    border: 1px solid #e8e8e8;
    width: 750px;
    max-width: 100%;
}

/* line 17, resources/assets/front/css/components/_form.scss */
.form .input-group input,
.form .input-group button {
    border: none;
    height: 45px;
}

/* line 22, resources/assets/front/css/components/_form.scss */
.form .input-group input {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0.556rem 0.556rem;
}

/* line 29, resources/assets/front/css/components/_form.scss */
.form .input-group button {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    font-size: 0;
    width: 40px;
    background: url("images/icon-check.svg") no-repeat center center;
}

/* line 37, resources/assets/front/css/components/_form.scss */
.form .input-group button:hover {
    opacity: .5;
}

/* line 44, resources/assets/front/css/components/_form.scss */
.no-touchevents .form button:hover {
    opacity: .5;
}

/*------------------------------------*\
  pagination
\*------------------------------------*/
/* line 5, resources/assets/front/css/components/_pagination.scss */
.pagination {
    width: 100%;
    margin-top: 2.222rem;
}

@media (min-width: 768px) {

    /* line 5, resources/assets/front/css/components/_pagination.scss */
    .pagination {
        display: flex;
        justify-content: space-between;
    }
}

/* line 14, resources/assets/front/css/components/_pagination.scss */
.pagination__link {
    display: block !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0.556rem;
}

@media (max-width: 767px) {

    /* line 14, resources/assets/front/css/components/_pagination.scss */
    .pagination__link {
        border: none;
    }
}

/*------------------------------------*\
  index
\*------------------------------------*/
/* line 5, resources/assets/front/css/templates/_index.scss */
.index {
    padding-top: 2.222rem;
    padding-bottom: 2.222rem;
}

/* line 10, resources/assets/front/css/templates/_index.scss */
.index_home,
.index_detail {
    padding-top: 0;
}

@media (max-width: 768px) {

    /* line 22, resources/assets/front/css/templates/_index.scss */
    .index__inner {
        width: 100%;
    }
}

/* line 30, resources/assets/front/css/templates/_index.scss */
.index__title {
    display: none;
}

/* line 35, resources/assets/front/css/templates/_index.scss */
.index__title+.index__content {
    margin-top: 0px;
}

/* line 39, resources/assets/front/css/templates/_index.scss */
.index .button,
.index .pagination__link {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.556rem;
}

/* line 46, resources/assets/front/css/templates/_index.scss */
.index__content {
    width: calc(100% + 30px);
    margin-left: -15px;
}

@media (min-width: 769px) {

    /* line 46, resources/assets/front/css/templates/_index.scss */
    .index__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media (max-width: 768px) {

    /* line 46, resources/assets/front/css/templates/_index.scss */
    .index__content {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 1.667rem;
    }
}

/* line 67, resources/assets/front/css/templates/_index.scss */
.index__content .block {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1.667rem;
    width: 100%;
    display: flex;
}

@media (max-width: 768px) {

    /* line 67, resources/assets/front/css/templates/_index.scss */
    .index__content .block {
        padding: inherit;
    }
}

@media (min-width: 768px) {

    /* line 81, resources/assets/front/css/templates/_index.scss */
    .index_projects .block {
        width: calc(100%);
    }
}

/*------------------------------------*\
  detail
\*------------------------------------*/
/* line 10, resources/assets/front/css/templates/_detail.scss */
.detail__text {
    max-width: 750px;
}

/* line 14, resources/assets/front/css/templates/_detail.scss */
.detail__title {
    display: none;
    margin-bottom: 1.111rem;
}

/* line 19, resources/assets/front/css/templates/_detail.scss */
.detail__title+.publication-date {
    margin-top: -0.556rem;
    margin-bottom: 1.111rem;
}

/* line 25, resources/assets/front/css/templates/_detail.scss */
.detail__subtitle {
    margin-bottom: 1.111rem;
}

/* line 29, resources/assets/front/css/templates/_detail.scss */
.detail__title+.detail__subtitle {
    margin-top: -1.111rem;
}

/* line 34, resources/assets/front/css/templates/_detail.scss */
.detail__title+.detail__intro {
    margin-top: -0.556rem;
}

/* line 38, resources/assets/front/css/templates/_detail.scss */
.detail__time {
    margin-bottom: 1.111rem;
}

/* line 42, resources/assets/front/css/templates/_detail.scss */
.detail__title+.detail__time {
    margin-top: -1.111rem;
}

/* line 47, resources/assets/front/css/templates/_detail.scss */
.detail .gallery {
    margin-top: 2.222rem;
}

@media (max-width: 767px) {

    /* line 47, resources/assets/front/css/templates/_detail.scss */
    .detail .gallery {
        margin-top: 2.222rem;
    }
}

/*------------------------------------*\
  #BASE-STYLES
\*------------------------------------*/
/* line 50, resources/assets/front/css/screen.scss */
html {
    font-size: 18px;
}

@media (max-width: 767px) {

    /* line 50, resources/assets/front/css/screen.scss */
    html {
        font-size: 16px;
    }
}

/* line 57, resources/assets/front/css/screen.scss */
body {
    background: #e8e8e8;
    color: #000000;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* line 63, resources/assets/front/css/screen.scss */
body ::-moz-selection {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000000;
}

/* line 64, resources/assets/front/css/screen.scss */
body ::-moz-selection {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000000;
}

body ::selection {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000000;
}

/* line 67, resources/assets/front/css/screen.scss */
li {
    list-style: none;
}

/*------------------------------------*\
  #PRINT
\*------------------------------------*/
/*------------------------------------*\
  print style
\*------------------------------------*/
@media print {

    /* line 79, resources/assets/front/css/screen.scss */
    html {
        font-size: 14px;
    }

    @page {
        margin: 2cm 2.5cm;
    }

    /* line 10, resources/assets/front/css/utils/_print-style.scss */
    body {
        font-family: Georgia, Times, Times New Roman, serif;
        font-size: 16pt;
        line-height: 22pt;
        color: #000000;
    }

    /* line 16, resources/assets/front/css/utils/_print-style.scss */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
        font-family: Georgia, Times, Times New Roman, serif;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
    }

    /* line 30, resources/assets/front/css/utils/_print-style.scss */
    h1 {
        font-size: 32pt;
        line-height: 40pt;
    }

    /* line 34, resources/assets/front/css/utils/_print-style.scss */
    h2 {
        font-size: 24pt;
        line-height: 30pt;
    }

    /* line 38, resources/assets/front/css/utils/_print-style.scss */
    h3 {
        font-size: 20pt;
        line-height: 26pt;
    }

    /* line 42, resources/assets/front/css/utils/_print-style.scss */
    h4 {
        font-size: 14pt;
        line-height: 20pt;
    }

    /* line 46, resources/assets/front/css/utils/_print-style.scss */
    p,
    ul,
    ol,
    blockquote {
        font-size: 11pt;
        line-height: 16pt;
    }

    /* line 53, resources/assets/front/css/utils/_print-style.scss */
    blockquote {
        text-align: center;
    }

    /* line 56, resources/assets/front/css/utils/_print-style.scss */
    small {
        font-size: 9pt;
        line-height: 14pt;
    }

    /* line 60, resources/assets/front/css/utils/_print-style.scss */
    p {
        page-break-inside: avoid;
    }

    /* line 63, resources/assets/front/css/utils/_print-style.scss */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
    }

    /* line 71, resources/assets/front/css/utils/_print-style.scss */
    hr {
        border: 0;
        height: 1px;
        background-color: #000000;
        margin: .3cm 0;
    }

    /* line 77, resources/assets/front/css/utils/_print-style.scss */
    .article {
        width: 100%;
        height: auto !important;
        margin: 0;
        display: block;
        padding: 0;
        overflow: visible;
        box-shadow: none;
    }

    /* line 86, resources/assets/front/css/utils/_print-style.scss */
    .header,
    .footer,
    .section.print {
        display: none !important;
    }

    /* line 91, resources/assets/front/css/utils/_print-style.scss */
    body {
        background: #fff !important;
        color: #000;
    }

    /* line 96, resources/assets/front/css/utils/_print-style.scss */
    .body p {
        widows: 3;
        orphans: 3;
    }

    /* line 97, resources/assets/front/css/utils/_print-style.scss */
    .body a {
        page-break-inside: avoid;
    }

    /* line 98, resources/assets/front/css/utils/_print-style.scss */
    .body blockquote {
        page-break-inside: avoid;
    }

    /* line 99, resources/assets/front/css/utils/_print-style.scss */
    .body h1,
    .body h2,
    .body h3,
    .body h4,
    .body h5,
    .body h6 {
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    /* line 100, resources/assets/front/css/utils/_print-style.scss */
    .body img {
        page-break-inside: avoid;
        page-break-after: avoid;
    }

    /* line 101, resources/assets/front/css/utils/_print-style.scss */
    .body table,
    .body pre {
        page-break-inside: avoid;
    }

    /* line 102, resources/assets/front/css/utils/_print-style.scss */
    .body ul,
    .body ol,
    .body dl {
        page-break-before: avoid;
    }

    /* line 103, resources/assets/front/css/utils/_print-style.scss */
    .body a:link,
    .body a:visited,
    .body a {
        background: transparent;
        color: #2C51DF;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
    }

    /* line 110, resources/assets/front/css/utils/_print-style.scss */
    .body a[href^=http]:after {
        content: " <"attr(href) "> ";
    }

    /* line 111, resources/assets/front/css/utils/_print-style.scss */
    .body article a[href^="#"]:after {
        content: "";
    }

    /* line 112, resources/assets/front/css/utils/_print-style.scss */
    .body a:not(:local-link):after {
        content: " <"attr(href) "> ";
    }
}